body {
  margin: 0;
  padding: 0;
  bottom:0;
  top: 0;
  height: 100%;
}

.home{
  margin: 0;
  padding: 0;
  bottom:0;
  top: 0;
  background-color: rgb(31, 31, 31);
  height: 100vh;
}

.home-header {
  text-align: center;
}

.header {
  background-color: #0a0a0a;
  min-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 80px;
}

.p {
  color:white;
}

/* Clear floats after the columns */
.home-budget-and-expenses:after{
  content: "";
  display: table;
  clear: both;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #383838; 
}

.home-column{
  margin-top:20px;
  margin-left: 20px;
  float: left;
  width: 48%;
  border:2px solid rgba(255, 255, 255, 0.11);
  border-style: dashed;
  height: 27em;
  line-height: 2em;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.home-row{
  margin-top:20px;
  margin-left: 20px;
  float: left;
  width: 97.5%;
  border:2px solid rgba(255, 255, 255, 0.11);
  border-style: dashed;
  height: 10em;
  line-height: 2em;
  overflow-x: hidden;
}

.budget-and-expenses-title{
  width: 70px;
  font-size:18px;
  margin-top:-20px;
  margin-left:7px;
  color: white;
  position:absolute;
}

.budget-and-expenses-title-row{
  font-size:18px;
  margin-top:-20px;
  margin-left:7px;
  color: white;
  position:absolute;
}