* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .new-expense-container {
    padding: 25px;
  }
  /* CARDS */
  
  .new-expense-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .new-expense-card {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  .new-expense-card:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    content: "";
    display: table;
    clear: both;
  }
  
  .new-expense-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .new-expense-card-link,
  .new-expense-card-exit,
  .new-expense-card-icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .new-expense-card-link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .new-expense-card-link:hover::after {
    width: 100%;
  }
  
  .new-expense-card-exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .new-expense-card-icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .new-expense-card-title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
  }
  
  .new-expense-card-apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .new-expense-card-1 {
    background: radial-gradient(#f51f1f, #fe3f3f);
  }

  .new-expense-column{
    float: left;
    width: 33.33%;
  }
  
  .input-container{
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
}

.input {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    overflow: hidden; 
    margin-left: 5%;
}
.input .label {
    position: absolute;
    top: 0px;
    left: 12px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
    pointer-events: none; 
    margin-top: -25px;
}

.input .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 33%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left; 
}

.input input {
    -webkit-appearance: none;
    appearance: none;
    width: 33%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: rgb(253, 253, 253);
    transition: all .15s ease; 
}

.input input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5); 
}

.input input:not(:placeholder-shown) + .label {
    color: rgba(255, 255, 255, 0.945);
    transform: translate3d(0, -12px, 0) scale(0.75); 
}

.input input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #eeafaf; 
}

.input input:focus + .label {
    color: #e9b9b9;
    transform: translate3d(0, -12px, 0) scale(0.75); 
}

.input input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all .1s ease; 
}

.submit-new-expense{
  display: table-cell;
  grid-row: 1/2;
  justify-self: end;
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background:radial-gradient(#ecd9e75d, #d6c9e780);
  color: white;
  margin-left: 10%;
}  

.submit-new-expense:hover{
  background:radial-gradient(#ecd9e7a8, #d6c9e7c3);
}
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .new-expense-cards {
      justify-content: center;
    }
  }
  