* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container-expenses-cards {
    padding: 15px;
  }
  /* CARDS */
  
  .expenses-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .expenses-card {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .expenses-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .expenses-card-link,
  .expenses-card-icon {
    font-size: 20px;
    position: relative;
    text-decoration: none;
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
    text-align: left;
  }

  .expenses-card-link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .expenses-card-link:hover::after {
    width: 100%;
  }
  
  .expenses-card-exit {
    display: table-cell;
    grid-row: 1/2;
    justify-self: end;
    width: 20px;
    height: 20px;
  }
  
  .expenses-card-icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .expenses-card-title {
    /* margin-left: 20%; */
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
    display: table-cell;
    text-align: center;
  }
  
  .expenses-card-apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .expenses-card-1 {
    display: table;
    margin-top: 20px;
    background: radial-gradient(#1fe4f5, #3fbafe);
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  
  .expenses-card-2 {
    display: table;
    margin-top: 20px;
    background: radial-gradient(#fbc1cc, #fa99b2);
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  
  .expenses-card-3 {
    display: table;
    margin-top: 20px;
    background: radial-gradient(#76b2fe, #b69efe);
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  
  .expenses-card-4 {
    display: table;
    margin-top: 20px;
    background: radial-gradient(#60efbc, #58d5c9);
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  
  .expenses-card-5 {
    display: table;
    margin-top: 20px;
    background: radial-gradient(#f588d8, #c0a3e5);
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }

  .button {
    display: table-cell;
    grid-row: 1/2;
    justify-self: end;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background:radial-gradient(#ecd9e75d, #d6c9e780);
    color: white;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .expenses-cards {
      justify-content: center;
    }
  }
  