.input-container{
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
}

.input {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden; 
}
.input .label {
    position: absolute;
    top: 0px;
    left: 12px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.774);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
    pointer-events: none; 
}

.input .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left; 
}

.input input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: rgb(253, 253, 253);
    transition: all .15s ease; 
}

.input input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5); 
}

.input input:not(:placeholder-shown) + .label {
    color: rgba(255, 255, 255, 0.945);
    transform: translate3d(0, -12px, 0) scale(0.75); 
}

.input input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #7fce83; 
}

.input input:focus + .label {
    color: #b9e9c5;
    transform: translate3d(0, -12px, 0) scale(0.75); 
}

.input input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all .1s ease; 
}
  