* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 15px;
  }
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card-link,
  .card-exit,
  .card-icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card-link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card-link:hover::after {
    width: 100%;
  }
  
  .card-exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card-icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card-title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
  }
  
  .card-apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fb8f5, #737cfd);
  }
  
  .card-2 {
    background: radial-gradient(#e768f3, #db1dc2);
  }
  
  .card-3 {
    background: radial-gradient(#3b8df7, #6332f7);
  }
  
  .card-4 {
    background: radial-gradient(#ef6060, #d33737);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  